<!doctype html>
<html th:replace="~{base :: layout (~{::title}, ~{::main})}">
  <head>
    <title>TW Todos - Exluir Tarefa
    </title>
  </head>
  <body>   
    <main>
      <h1>Excluir Tarefa</h1>
      <p> tem certeza que deja excluir <strong th:text="${todo.title}"></strong></p>
        <form method="post">
            <button class="btn btn-danger" type="submit">Excluir</button>
            <a th:href="@{/}" class="btn btn-primary">Voltar</a>
        </form>

    </main>


  </body>
</html>