<!doctype html>
<html th:replace="~{base :: layout (~{::title}, ~{::main})}">
  <head>
    <title> Lista de tarefas</title>
  </head>
  <body>


    <main>
        <h1> Lista de Tarefas</h1>
        <table class="table" th:unless="${#lists.isEmpty(todos)}">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Criado em</th>
                <th scope="col">Data de Entrega</th>
                <th scope="col">Finalizado</th>
                <th scope="col">Ações</th>

              </tr>
            </thead>
            <tbody>
                <tr th:each="todo : ${todos}">
                    <th scope="row" th:text="${todo.id}"></th>
                    <td th:text="${todo.title}"></td>
                    <td th:text="${#temporals.format(todo.createdAt)}"></td>
                    <td th:text="${#temporals.format(todo.deadline)} "></td>
                    <td th:text="${#temporals.format(todo.finishedAt)} ?: '-'"></td>
                    <td>
                        <form class="d-inline" th:action="@{finish/{id}(id=${todo.id})}" method="post">
                          <button href="#" 
                          class="btn bnt-sm btn-success"
                          th:classappend="${todo.finishedAt} ? 'disabled' : '' "
                          >
                          Completar</button>
                        </form>
                        <a th:href="@{edit/{id}(id=${todo.id})}" 
                        class="btn bnt-sm btn-secondary"
                        th:classappend="${todo.finishedAt} ? 'disabled' : '' "
                        >
                        Editar</a>
                        <a th:href="@{delete/{id}(id=${todo.id})}" 
                        class="btn bnt-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            </tbody>
          </table>
          <p th:if="${#lists.isEmpty(todos)}"> Nenhuma tarefa criada</p>
          <a th:href="@{/create}" class="btn btn-primary">nova tarefa</a>
        </main>
  </body>
</html>